.Games {
    display: flex;
    width: 100%;
    padding: 2rem;
}

.Games_Content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.Game_Card {
    color: var(--primary-black);
    width: 100%;
    border: 1px solid #ccc;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: var(--primary-white);
}

.Game_Card > h2 {
    margin: 1rem 0;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
}