.ScratchScreen {
  display: flex;
  height: 100vh;
}

.Scratch_Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 6rem;
  gap: 20px;
}

.ScratchScreen_Content {
  display: flex;
  height: 100vh;
}

.Fav_Button {
  display: flex;
  position: fixed;
  bottom: 10rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2A2A2A;
  border: none;
  border-radius: 3rem;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
}
